.header {
	display: flex;
}

#title {
	flex: 1 0 auto;
	padding-right: 5px;
}
#details {
	height: 500px;
	overflow: auto;
}

.address-info{
	margin: 10px 0;
	padding: 10px;
	background-color: gray;
}

#map {
	display: none;
}

#map.active {
	display: block;
	height: 250px;
}
#complaintType {
	display: block;
}

.incident {
	border-bottom: 2px solid #000;
	margin: 20px 0;
}