#details {
	margin-top: 40px;
	max-height: 300px;
	overflow: auto;
}

#map {
	display: none;
}

#map.active {
	display: block;
	height: 500px;
}
#complaintType {
	display: block;
}

.incident {
	border-bottom: 2px solid #000;
	margin: 20px 0;
}