form * {
	width: 100%;
	display: block;
}

select {
	background-color: #fff;
}

.container-fluid {
	background-color: #FEF151;
	font-size: 2rem;
}

#title h1 {
	white-space: nowrap;
	border-bottom: 2px solid #000;
}

#info-box {
	background-color: gray;
}

#details {
	height: 500px;
	overflow: auto;
}

.address-info {
	background-color: #000;
	color: #fff;
}

#map.active {
	display: block;
	height: 250px;
	background-color: green; /*placeholder for loading map at launch*/
}


.incident {
	font-size: .8em;
	border-bottom: 2px solid #000;
	margin: 20px 0;
}

.label {
	font-weight: bold;
}

#footer {
	background-color: gray;
	width: 100%;
	min-height: 100px;
}

/*Small devices (landscape phones, 576px and up)*/
@media only screen and (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
	.container-fluid {
		font-size: 2rem;
	}
}

/*Large devices (desktops, 992px and up)*/
@media only screen and (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {}
